.team {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 20px;
  width: 90%;
}
.member {
  display: inline-block;
}
.member-description {
  padding: 20px;
  display: inline-block;
  width: 55%;
  float: right;
}
.member-image {
  padding: 10px;
  display: inline-block;
  width: 20%;
  float: left;
  height: auto;
}
p {
  text-align: left;
}
