<div class="content" role="main">

  <!-- Resources -->
  <h1>One Link, One Internet</h1>
  <!--  <p style="margin-bottom: 10px"> We are OSI, a social directory and a digital biography app that allows-->
  <!--    individuals, corporations, and communities to illustrate their story. We want our users to be free to express-->
  <!--    themselves fully. There is more to us than our immediate thoughts; we want users to be able to-->
  <!--    share who they are. OSI's platform allows them to do just that. By allowing users-->
  <!--    to create a snapshot of themselves, they can create a deeper representation of their digital-->
  <!--    identity. </p>-->
  <p style="margin-bottom: 30px">
    OSI is a social directory and digital biography platform that allows you to maintain independence. The only thing
    we truly own in life are moments and time, so share your unique qualities with the world.  OSI provides you with
    the tools to construct a deeper representation of your digital identity.
  </p>

  <app-video style="margin-bottom: 20px; width: 90%"></app-video>

  <h1 style="margin-bottom: 10px" id="request">Get Started and Request Access</h1>
  <!--  <p  style="margin-bottom: 30px">Currently, the app is in Beta and is only available on TestFlight for iOS.-->
  <!--    Please fill out the survey below and tell us what you want to do with the app!-->
  <!--    We love to learn who our users are and what they want to use OSI for. </p>-->
  <p style="margin-bottom: 30px">
    OSI is currently available by request only through TestFlight on iOS. Please fill out and submit the survey below
    to be placed on our wait list.
  </p>

  <iframe
    src="https://docs.google.com/forms/d/e/1FAIpQLSeloogIltbt0u98UuWlZuYORHE5JhgzKeUwqYUXJN9-AfuC6w/viewform?embedded=true"
    width="100%" height="820" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

  <!--  <h2 id="team">Meet The Team</h2>-->

  <!--  <app-team-section></app-team-section>-->

  <h1 id="contact">Contact Us</h1>
  <p>In the meantime, we look forward to hearing from you!</p>
  <p>Live free, Stage Beauty</p>
  <p> - OSI</p>

  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf_tySJ0bKguhFnkf-vws4ENtl5jXttRYHC3HYoG3YP-6yaMQ/viewform?embedded=true"
          width="100%" height="510" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

</div>
